*{
    margin: 0;
    padding: 0;
}
a{
    text-align: center;
    text-decoration: none;
    color: white;
}
img{
    width: 20%;
}
.fond{
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: #00175A;
    
    display: flex;
    justify-content: center;
}
.header{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}